---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Topic</title>
	</head>
	<body>
		<h1>Games:</h1>
		<ul>
			<li><a href="/posts/GTFO/">GTFO</a></li>
			<li><a href="/posts/Phasmophobia/">Phasmophobia</a></li>
			<li><a href="/posts/Minecraft/">Minecraft</a></li>
		</ul>
	</body>
</html>
